:root{
    --secondary-color: rgb(255, 255, 255);
    --primary-color: #000000;
    --grey-color: #eeeeeeff;
    --light-orange: #e6b8afff;
    --deep-orange: #dd7e6bff
    
*{
    box-sizing: border-box;
    margin: 5rem;
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    line-height: 1.6;
    padding-top: 50%;
    margin-top: 50rem;
}


.final{
    /* border: 1px dashed var(--primary-color); */
    margin-top: 100rem;
}

.home{
    color: var;
   
    padding: 10px 50px 10px;
    font-weight: 700;
    background-color: green!important;
}

.img-fluid{
    margin-top: 10rem;
    animation: rotation 2s infinite linear;
    height: 10px;

}

a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover{
    color: ;
}

.home:hover{
    background-color: var(--secondary-color) !important;
    border: 2px solid var(--primary-color);
    color: var(--primary-color) !important;
}
h1{
    font-size: 3rem;
    font-weight: 700;
}

p{
    font-size: 1.5rem;
}

@media (max-width: 768px){ 
    /* body { 
        padding-top: 63px; 
    } */

    h1{
        font-size: 2.5rem;
    }
    
    p{
        font-size: 1.5rem;
    }
    
    .img-fluid{
        height: 10px;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
 }
}